body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #F6EDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
}

h1 {
    margin: 15px 0 10px;
    font-size: 2.5rem;
    text-align: center;
    color: #B15959;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

input, select, button {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
    background: #FBD7D7;
    color: #B15959;
}

input:focus {
    outline: none;
    transform: scale(1.03);}

button {
    background: #B15959;
    color: #F6EDEF;
}

button:hover {
    background: #FEAEAE;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px 40px;
}

.card {
    background: #FBD7D7;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    color: #B15959;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #B15959;
    margin: 10px 0;
}

.shop {
    font-size: 0.9rem;
    color: #B15959;
    opacity: 0.7;
}

.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FEAEAE;
    color: #B15959;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
}

a {
    margin-bottom: 30px;
    text-decoration: none;
    color: #B15959;
    font-weight: bold;
}

.custom-select {
    position: relative;
    min-width: 200px;
}

.selected {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    background: #FBD7D7;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    color: #B15959;
}

.selected img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: #FBD7D7;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    overflow: hidden;
    z-index: 10;
}

.dropdown.hidden {
    display: none;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: #B15959;
}

.option:hover {
    background: #FEAEAE;
    color: #B15959;
}

.option img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}